{# Horizontal Bootstrap Form Theme #}
{% extends 'form_div_layout.html.twig' %}

{% block choice_widget_expanded %}
    {% spaceless %}
        {% if multiple %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {{ form_widget(child) }}
                {{ form_label(child) }}
            {% endfor %}
        </div>
        {% else %}
            <div {{ block('widget_container_attributes') }}>
                {% for child in form %}
                        {{ form_widget(child) }}
                        {{ form_label(child, [], {'label_attr': {'class': 'no-asterisco'}}) }}
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{ label|trans({}, translation_domain) }}
                {% if required and not ('no-asterisco' in label_attr.class)  %}
                    <span class="asterisco-requerido" title="Este campo es obligatorio">*</span>
                {% endif %}
            </label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{% block form_row %}
    {% spaceless %}
    <div class="form-group">
        {{ form_errors(form) }}
        {% if 'checkbox' in form.vars.block_prefixes %}
        {# Si es la fila de un checkbox, utilizamos otra organización #}
            <div class="col-lg-offset-3 col-sm-offset-4 col-lg-9 col-sm-8">
                <div class="checkbox">
                    {{ form_widget(form) }}
                    {{ form_label(form) }}
                </div>
            </div>
    {% elseif 'choice' in form.vars.block_prefixes and form.vars.expanded %}
        {{ form_label(form, [], {'label_attr': {'class': 'col-lg-3 col-sm-4 control-label'}}) }}
        <div class="col-lg-9 col-sm-8">
            <div class="radio">
            {{ form_widget(form) }}
            </div>
        </div>
    {% else %}
        {{ form_label(form, [], {'label_attr': {'class': 'col-lg-3 col-sm-4 control-label'}}) }}
        <div class="col-lg-9 col-sm-8">
            {{ form_widget(form, {'attr': {'class': 'form-control'}} ) }}
        </div>
    {% endif %}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block submit_widget %}
    {% set type = type|default('submit') %}
    {% spaceless %}
        <div class="form-group">
            <div class="col-lg-offset-3 col-sm-offset-4 col-lg-9 col-sm-8">
                {{ block('button_widget') }}
            </div>
        </div>
    {% endspaceless %}
{% endblock submit_widget %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="col-lg-12 errors">
                {% for error in errors %}
                    <li class="alert alert-danger">{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
