{% extends "FrontendBundle::layout.html.twig" %}

{% block title %}Mapa del sitio web{% endblock %}

{% block content %}

<h1>Mapa del sitio web</h1>

    <div class="container-peque">
        <ul class="texto-medio-grande nav nav-pills nav-stacked">
            <li><a href="{{ path('homepage') }}">Inicio</a></li>
            <li class="disabled"><a href="#">Licencias <span class="caret"></span></a>
                <ul class="nav nav-pills nav-stacked col-lg-offset-2 borde-inferior">
                    <li><a href="{{ path('conducir') }}">Carnet de conducir</a></li>
                    <li><a href="{{ path('animales') }}">Animales peligrosos</a></li>
                    <li><a href="{{ path('armas') }}">Permiso de armas</a></li>
                    <li><a href="{{ path('seguridad') }}">Seguridad privada</a></li>
                    <li><a href="{{ path('nautica') }}">Náutica</a></li>
                    <li><a href="{{ path('gruas') }}">Grúas</a></li>
                </ul>
            </li>
            <li><a href="{{ path('pedir_cita') }}">Pedir cita</a></li>
            <li><a href="#">Avisador caducidad</a></li>
            <li><a href="{{ path('contacto') }}">Contacto</a></li>
        </ul>
    </div>

{% endblock %}