{% extends "AppBundle::layout.html.twig" %}


{% block stylesheets %}
    {% stylesheets filter='?uglifycss' output="css/compiled/effects.css"
    'bundles/app/css/flexslider.css'
    'bundles/app/css/galeria.css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts filter='?uglifyjs2' output="js/compiled/effects.js"
    'bundles/app/js/lightbox-min.js'
    'bundles/app/js/lightbox.options.js'
    'bundles/app/js/jquery.flexslider-min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}

    <div class="jumbotron main">
        <div class="ribbon"><span>30 años en Santutxu</span></div>
        <div class="container-dos-tercios overflow float-left">
            <div class="float-left">
                <img src="{{ asset('bundles/app/images/logo.png') }}" title="S.C.O.R. - Centro médico y psicotécnico" alt="S.C.O.R. - Centro médico y psicotécnico">
            </div>
            <div class="float-left margin-left">
                <h1 class="no-margin-top">«S.C.O.R.»</h1>
                <h2>Centro oficial médico y psicotécnico</h2>
                <h3><strong>C/ Santutxu 7, 2º-B, (48004) Bilbao</strong></h3>
                <div class="overflow margin-top">
                    <p>Horario: L-V 09:30 - 13:00 / 16:30 - 19:30</p>
                </div>
                <p class="no-margin-bottom"><a href="{{ path('pedir_cita') }}" class="btn btn-lg btn-success" role="button">Pedir cita online</a> o telefónica: <strong>{{ contacto_telefono }}</strong></p>
            </div>
        </div>

         <div class="slogan-vertical-responsive">
             <a href="{{ path('pedir_cita') }}" class="btn btn-xl btn-orange" role="button">Tramitación gratuita <br />y en el acto, sin ir a <br />Tráfico</a>
        </div>
    </div>


    <div class="overflow">

        <div class="col-lg-8 col-md-7">

            <h2>{{ scor_psico }}</h2>

            <p>El centro médico y psicotécnico de reconocimientos {{ scor_psico }} se encuentra ubicado en el centro de Santutxu desde 1984. Avalados por 30 años de experiencia, ponemos a su disposición el equipo profesional de oftalmología, medicina y psicología necesarios para la obtención y renovación de las siguientes licencias y permisos:</p>

            <ul>
                <li>Carnet de conducir</li>
                <li>Permisos de armas</li>
                <li>Permisos de animales potencialmente peligrosos</li>
                <li>Licencias de marina</li>
                <li>Licencias de seguridad privada</li>
                <li>Licencias de grúa</li>
            </ul>

            <p>Disponemos de un servicio de cita previa automatizado en este sitio web para su mayor comodidad. Nuestro equipo profesional le ofrecerá una atención amable y diligente.</p>

        </div>

        <div class="col-lg-4 col-md-5">
            <div class="flexslider-wrapper">
            <div class="flexslider">
                <ul class="slides">
                    {% for i in 0..11 %}
                    <li>
                        <a href="{{ asset('bundles/app/images/galeria/scor_'~i~'.jpg') }}" rel="image-lightbox" class="image-lightbox" title="">
                            <img src="{{ asset('bundles/app/images/galeria/scor_th_'~i~'.gif') }}" alt="" />
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="marketing">
        <div class="row">
            <div class="col-sm-6">
                <div class=col-md-4>
                    <a href="{{ path('conducir') }}" title="Carnet de conducir" class="img-background-120 img-conducir"></a>
                </div>
                <div class=col-md-8>
                    <h2>Carnet de conducir</h2>
                    <p>Renueva todos los tipos de carnet de conducir al instante y ahórrate la tramitación de Tráfico. Solo con tu carnet de conducir, sin necesidad de fotos.</p>
                    <p><a class="btn btn-orange" href="{{ path('conducir') }}" title="Más información sobre carnet de Conducción" role="button">Más información &raquo;</a></p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class=col-md-4>
                    <a href="{{ path('armas') }}" title="Permiso de armas" class="img-background-120 img-armas"></a>
                </div>
                <div class=col-md-8>
                    <h2>Permiso de armas</h2>
                    <p>Obtén y renueva tu permiso de armas. Solo tráenos el DNI, te facilitamos la documentación necesaria y te hacemos la foto en SCOR.</p>
                    <p><a class="btn btn-orange" href="{{ path('armas') }}" title="Más información sobre permisos de Armas" role="button">Más información &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class=col-md-4>
                    <a href="{{ path('seguridad') }}" title="Seguridad privada" class="img-background-120 img-seguridad"></a>
                </div>
                <div class=col-md-8>
                    <h2>Seguridad privada</h2>
                    <p>Obtén y renueva el permiso de Guarda de Seguridad y Vigilante de Seguridad. Te hacemos la foto en nuestras oficinas y solo necesitas traer el DNI.</p>
                    <p><a class="btn btn-orange" href="{{ path('seguridad') }}" title="Más información sobre licencias de Seguridad privada" role="button">Más información &raquo;</a></p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class=col-md-4>
                    <a href="{{ path('animales') }}" title="Animales potencialmente peligrosos" class="img-background-120 img-animales"></a>
                </div>
                <div class=col-md-8>
                    <h2>Animales pot. peligrosos</h2>
                    <p>Obtén y renueva el permiso de Animales potencialmente peligrosos. Con tan solo el DNI nosotros te realizaremos las pruebas  medicas y psicotécnicas necesarias.</p>
                    <p><a class="btn btn-orange" href="{{ path('animales') }}" title="Más información sobre permisos de Animales pot. peligrosos" role="button">Más información &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class=col-md-4>
                    <a href="{{ path('nautica') }}" title="Náutica" class="img-background-120 img-nautica"></a>
                </div>
                <div class=col-md-8>
                    <h2>Náutica</h2>
                    <p>Obtén y renueva el psicotécnico de Náutica/Marina. En SCOR acreditamos la aptitud psicofísica para el manejo de embarcaciones de recreo. Te facilitamos toda la documentación necesaria.</p>
                    <p><a class="btn btn-orange" href="{{ path('nautica') }}" title="Más información sobre permisos de Náutica" role="button">Más información &raquo;</a></p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class=col-md-4>
                    <a href="{{ path('gruas') }}" title="Grúas" class="img-background-120 img-gruas"></a>
                </div>
                <div class=col-md-8>
                    <h2>Grúas</h2>
                    <p>Obtén y renueva el psicotécnico de Grúas. En SCOR te facilitamos toda la documentación a presentar en el Departamento de Industria y resolvemos tus dudas acerca del proceso de expedición de dicho permiso.</p>
                    <p><a class="btn btn-orange" href="{{ path('gruas') }}" title="Más información sobre permisos de Grúas" role="button">Más información &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block documentReady %}

    $.preloadImages = function() {
        for (var i = 0; i < arguments.length; i++) {
            $("<img />").attr("src", "/bundles/app/images/iconos/" + arguments[i] + "-hover.png");
        }
    }

    $.preloadImages("conducir", "armas", "seguridad", "animales", "nautica", "gruas");

    $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
            $('body').removeClass('loading');
        }
    });


    var selectorLB = 'a.image-lightbox';
    if($(window).width() >= 992) {
        // Escritorio
        var instanceLB = $(selectorLB).imageLightbox({
            animationSpeed: 250,
            preloadNext:    true,
            enableKeyboard: true,
            onStart: 	 function() { overlayOn(); arrowsOn(instanceLB, selectorLB); },
            onEnd:	 	 function() { arrowsOff(); overlayOff(); activityIndicatorOff(); },
            onLoadStart: function() { activityIndicatorOn(); },
            onLoadEnd:	 function() { $('.imagelightbox-arrow').css('display', 'block'); activityIndicatorOff(); }
        });
    }else{
        // Móviles & Tablets
        $(selectorLB).imageLightbox({
            animationSpeed: 250,
            preloadNext:    true,
            enableKeyboard: true,
            onStart: 	 function() { overlayOn();},
            onEnd:	 	 function() { overlayOff(); activityIndicatorOff(); },
            onLoadStart: function() { activityIndicatorOn(); },
            onLoadEnd:	 function() { activityIndicatorOff(); }
        });
    }
{% endblock documentReady %}
