{% extends "::base.html.twig" %}

{% block extra_metatags %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% spaceless %}
    {% if block('description_metatag') %}
        {% block description_metatag %}{% endblock %}
    {% else %}
        S.C.O.R. - Centro médico y psicotécnico situado en C/ Santutxu 7, 2º- B (Bilbao) desde hace 30 años. Obtención y renovación de todos los permisos y licencias.
    {% endif %}
    {% endspaceless %}">
    <meta name="keywords" content="{% spaceless %}
    {% if block('keywords_metatag') %}
        {% block keywords_metatag %}{% endblock %}
    {% else %}
        Psicotécnicos, Santutxu, renovar, carnet, licencia, permiso, conducir, animales peligrosos, armas, seguridad, grúas, náutica, marina, centro médico, Bilbao
    {% endif %}
    {% endspaceless %}">
    <meta name="author" content="Dani Sancas">
{% endblock %}

{% block default_stylesheets %}
    <link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bootstrap/css/bootstrap-theme.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/common/css/custom-bootstrap.css') }}" rel="stylesheet" />
    {% block stylesheets %}{% endblock %}
{% endblock %}
  
{% block default_javascripts %}
    <script src="{{ asset('bundles/common/js/jquery-min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
    {% block javascripts %}{% endblock %}
{% endblock %}

{% block body %}

    {% include 'FrontendBundle::header.html.twig' %}

    <div class="container" id="content">
        {% include 'FrontendBundle::flash.html.twig' %}

        {% block content %}{% endblock %}
    </div>

    {% include 'FrontendBundle::footer.html.twig' %}

{% endblock %}

{% block extra_body %}
    {% if block('documentReady') %}
        <script type="text/javascript">
            $(document).ready(function () {
                {% block documentReady %}{% endblock documentReady %}
            });
        </script>
    {% endif %}
{% endblock %}
